@use "scss/meta" as *;

.imageAdjust {
  display: flex;
  flex-direction: column;
  text-align: center;
  :global(.wfp--btn) {
    font-size: 1.1em;
    color: $interactive;
  }
}

.text {
  font-size: 0.5em;
  margin: 0.3 -2em;
}

.alignmentTitle {
  margin-bottom: 0.3em;
  font-size: 0.8em;
  font-weight: 500;
}
