@use "scss/meta" as *;

.videoWrapper {
  position: relative;
  transform: scaleX(-1);
  transition: all 0.3s;
  width: 100%;
  height: auto;
  transform: scaleX(-1) translateY(0%);
  > video {
    width: 100% !important;
    height: auto !important;
    background: $layer;
    display: block;
  }
  transform: scaleX(-1) translateY(0%);
  .isEnvironment & {
    transform: scaleX(1);
  }
  @include breakpoint-up(md) {
    width: 340px;
    height: auto;
  }
  opacity: 0;
  transition: all 1s;
}

.finished {
  .videoWrapper {
    opacity: 1;
  }
}

.points {
  position: absolute;
  top: 0;
  left: 0;

  width: 100% !important;
  height: 100% !important;
}

.pointsPolygon {
  stroke: $interactive;
  stroke-width: 15;
  fill: transparent;
}

.canvas {
  position: absolute;
  top: 5px;
  left: 5px;
  // width: 100% !important;
  //height: 100% !important;

  width: 33.3%;
  height: auto;
  display: none;
}

.debugCanvas {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 150px;
  height: auto;
}

.videoel {
  position: relative;
  display: flex;
  justify-content: center;
  @include breakpoint-up(md) {
    //margin: 0 -3em -3.5em -3em;
  }
  transition: all 0.3s;
  background: #ccc;
  overflow: hidden;
}

.toolbar {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  z-index: 1000;
  > * {
    margin-left: 0.5em;
  }
}
button.restart {
  //display: none;
}

.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  &:after {
    content: "";
    display: block;
    border: 5px solid $interactive;
    //width: 33%;
    height: 33%;
    aspect-ratio: 1/1;
  }
}

.scanner {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  &.isScanned {
    .videoel {
      //transform: translateY(-20%);
      //transform: scale(0.5);
    }
    .restart {
      display: block;
    }
    .select {
      display: none;
    }
    .videoel {
      /*max-height: 330px;
      overflow: hidden;*/
      margin-bottom: 1em;
    }
  }
}

.videoScale {
  width: 100%;
  background: $layer;
}

@include breakpoint-down(md) {
  .module {
    padding-top: 0;
    // margin-top: env(safe-area-inset-bottom);

    :global(.wfp--modal-inner) {
      min-height: 100%;
    }
    :global(.wfp--modal-container) {
      //padding-top: $safe-area-inset-top;
      box-shadow: none;
      height: auto;
      margin: 0;
      padding: 0;
      //padding-top: env(--safe-area-inset-top) !important;
      //max-height: 50vh;
      &:before {
        display: none;
      }

      //height: 100%;
    }
    :global(.wfp--modal-container:before) {
      display: none;
    }
    :global(.wfp--modal-header__heading) {
      //display: none;
    }
    :global(.wfp--modal-header) {
      margin: 1em;
      padding-top: $safe-area-inset-top !important;
    }
    :global(.wfp--modal-content) {
      overflow: auto;
      margin-bottom: 0;
      flex: 1;
    }
  }
}

.module {
  z-index: 100000 !important;
}

.empty {
  //padding: 1;
  flex: 1;
  min-height: 0;
  :global(.wfp--empty__icon) {
    margin-bottom: 0.5em;
    svg {
      font-size: 4em !important;
    }
  }
}

.loadingElement {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  z-index: 10000;
}

.imageDebug {
  position: absolute;
  bottom: 0;
  display: flex;

  img {
    width: 50px;
    height: auto;
  }
}

.aiResult {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30vw;
  background: #000;
  color: #fff;
  padding: 2em;
  .result {
    margin-bottom: 2em;
  }
  .title {
    opacity: 0.8;
    margin-top: 1em;
  }
  .value {
    font-size: 3em;
    font-weight: 100;
  }
  .reason {
    min-height: 4em;
    line-height: 1.5em;
    margin-top: 1em;
  }
}

.loading {
  margin-top: 2em;
}
