@use "scss/meta" as *;

.infoWrapper {
  text-wrap: balance;
  width: calc(100% + 2em);
  @include breakpoint-down(lg) {
    margin: -1em;
    margin-bottom: 2em;
  }
  //overflow: hidden;
  margin-bottom: 0.5em !important;
  min-height: 30vh;
  // flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  /* &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }*/
  .textContent {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    // overflow: auto;

    p {
      /* position: absolute;
    bottom: 0;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      font-size: 1.2em;
      line-height: 1.5;
      text-align: center;
      font-weight: 600;
      flex: 1;
      //white-space: nowrap;
    }
    small {
      display: block;
      color: $text-body-secondary;
      font-weight: 400;
      font-size: 0.9em;
    }
  }
}

.overflowContent {
  max-height: 100%;
  .textContent {
    overflow: auto;
    justify-content: unset;
  }
}

.infoWrapperImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  img {
    width: 100%;
    /* @include breakpoint-up(md) {
      width: 70%;
      margin-left: 30%;
      margin-top: -5%;
      margin-bottom: 5%;
    }*/
  }
}

.infoWrapperImageContainer {
  position: relative;
  background: $layer;
  height: clamp(500px, 500px, 100vw) !important;
  flex-shrink: 1;
  /* &:before {
    content: "";
    display: block;
    padding-top: 100%;
  } */
}

.buttonWrapper,
.bottom {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  @include breakpoint-up(lg) {
    margin-bottom: 0 !important;
    max-width: 20em;
  }
  margin: auto;
  > * {
    flex-grow: 1;
    // height: 4em;
    margin-bottom: 0.7em;
    text-align: center;
  }
}
.cancelButton {
  text-align: center;
  margin-bottom: 2rem;
  > * {
    height: 4em;
  }
}
.manuallyWrapper {
  display: flex;
  > :first-child {
    margin-right: 0.5em;
  }
}

.analogButton {
  margin-top: 0.5em;
  margin-bottom: 1.7em;
}

.deviceImage {
  display: block;
  width: 100%;
  max-height: 4em;
  max-width: 4em;
  object-fit: contain;
  margin: -0.3em auto;
}

.deviceDescription {
  display: block;
  margin-top: 0.7em;
}

.deviceIconDetails {
  font-size: 4.5em;
}

.alarmWrapper {
  :global("wfp--input-group-inside") {
    flex-direction: column;
  }
}

.error {
  // background: $support-error-background;
  .infoWrapperImageContainer {
    background: $support-error-background;
  }
}

.success {
  //background: $support-success-background;
}

.video {
  &::-webkit-media-controls {
    display: none;
  }
}

.wrapper {
  @include breakpoint-down(lg) {
    //   padding: 0;
  }
  @include breakpoint-up(lg) {
    max-width: 620px;
  }
  :global(#settings-form) {
    height: 100%;
  }
}

.batteryWrapper {
  margin-top: 1em;
}

.battery {
  width: 2em;
}

.pressedButton {
  margin-top: 1em;
}

.deviceStatus {
  margin-bottom: 2em !important;
}

.setupButton {
  margin-top: 0.5em;
}

.wifiSetupInfo {
  font-size: 0.9em;
}

.helpLink {
  margin-top: 1em;
  font-size: 0.95rem;
}
