@use "scss/meta" as *;

.frenchTitle {
  font-size: 1rem;
  color: $text-body-secondary;
  margin-bottom: 2rem;
  font-weight: 400;
}

.errorWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
