node_modules/*
packages/web/lib/*
packages/web/es/*
/build/*
.vscode
.env
.DS_Store
packages/helpers/node_modules/*
helpers/tests/node_modules/*
node_modules
.next
packages/website/.next
web/frontend/.npmrc
.yarn
.npmrc
packages/web/android/vendor/bundle
packages/web/android/fastlane/metadata
packages/web/android/app/fastlane_droid.jks
.jks
packages/web/ios/App/vendor/bundle
packages/web/ios/App/App.ipa
lerna-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
web/frontend/.env.local
.env.local
packages/web/ios/App/mobileprovision/*
packages/web/.env.production
web/frontend/public/sitemap-0.xml
web/epaper-frontend/public/sitemap-0.xml
*.cer
*.certSigningRequest
*.p12
*.mobileprovision
packages/web/ios/App/fastlane/.env.default
packages/web/src/components/BluetoothWifiProvisioning/connect.js
packages/web/android/app/src/main/res/drawable/splash.png
packages/web/android/app/src/main/res/drawable*
packages/web/android/app/src/main/res/mipmap*
packages/web/ios/App/App/Assets.xcassets/AppIcon.appiconset/*
packages/web/androidWirewire/vendor/*
web/frontend/out/_next/static/*
packages/web/icons/*
packages/web/icons/*
packages/web/ios/App/App/*
packages/web/android/app/src/main/res/drawable/*
packages/memo-api/src/pharmacies/plz.json
packages/memo-api/src/pharmacies/downloads/*
packages/memo-api/dist
packages/helpers/dist/bundle.d.ts

.yalc
packages/memo-api/.DS_Store
packages/web/dist-ts/*
packages/web/wirewire-memo
packages/web/dist/*
helpers/playwright-test/.auth/*
.DS_Store
packages/memo-api/.DS_Store
packages/web/ios/App/App.app.dSYM.zip
packages/web/ios/App/fastlane/report.xml
packages/memo-api/token.management.txt
token.management.txt
token.txt
packages/paperlesspaper-api/.hypothesis/*
packages/paperlesspaper-web/src/components/Epaper/Icons/*
packages/paperlesspaper-web/icons/*
.env.prod
.env.production
.env.*
packages/paperlesspaper-web/dist-ts/*
packages/helpers/coverage/*
packages/paperlesspaper-api/fly.toml
packages/paperlesspaper-web/dist
packages/paperlesspaper-web/android/vendor/*
packages/paperlesspaper-web/android/app/src/main/res/drawable-*
packages/paperlesspaper-web/android/app/src/main/res/mipmap-*
packages/paperlesspaper-web/android/app/fastlane_droid.jks
*.jks
packages/paperlesspaper-web/android/.idea
packages/paperlesspaper-web/android/app/capacitor.build.gradle
packages/paperlesspaper-web/android/capacitor.settings.gradle
packages/paperlesspaper-web/android/app/src/main/assets/capacitor.config.json
packages/paperlesspaper-web/android/app/src/main/assets/capacitor.plugins.json
packages/paperlesspaper-web/android/.bundle/config
packages/paperlesspaper-web/ios/App/vendor



packages/paperlesspaper-web/ios/DerivedData/
packages/paperlesspaper-web/ios/build/
packages/paperlesspaper-web/ios/*.xcworkspace
packages/paperlesspaper-web/ios/Pods/
packages/paperlesspaper-web/ios/.swiftpm/
packages/paperlesspaper-web/ios/Packages/
packages/paperlesspaper-web/ios/*.xcuserstate
packages/paperlesspaper-web/ios/*.xcuserdatad/
packages/paperlesspaper-web/ios/**/xcuserdata/
packages/paperlesspaper-web/ios/**/*.moved-aside
packages/paperlesspaper-web/ios/**/tmp/
packages/paperlesspaper-web/ios/**/profile/
packages/paperlesspaper-web/ios/**/Carthage/Build/
packages/paperlesspaper-web/ios/fastlane/report.xml
packages/paperlesspaper-web/ios/fastlane/screenshots/
packages/paperlesspaper-web/ios/fastlane/test_output/
packages/paperlesspaper-web/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-*