@use "scss/meta" as *;

/*
.medium {
  :global {
    .wfp--user__icon {
      width: 1em;
      height: 1em;

      img {
        display: block;
        width: 1em;
        height: 1em;
        object-fit: contain;
      }

      // min-width: 2.3rem;
      // min-height: 2.3rem;
    }
  }
}

.large {
  :global {
    .wfp--user__icon {
      //width: 7.5rem;
      //height: 7.5rem;
      img {
        background: $layer-primary;
      }
    }
  }
} 

.notLoaded {
  border-radius: 100%;
  overflow: hidden;
  background: $layer-primary;
  padding: 0.2em;
  width: 1em;
  height: 1em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    position: relative;
    top: 0.2em;
    color: $text-body-secondary;
  }
}
*/
