@use "scss/meta" as *;

.city {
  display: flex;
  //align-items: flex-end;
  > * {
    margin-right: $spacing-05;
  }
}

.rowCol {
  width: 100%;

  @include breakpoint-up(md) {
    width: 50%;
  }
}
