@use "scss/meta" as *;

.description {
  line-height: 1.5;
}

.targetGroup {
  gap: 0.75rem;
}

.preparing {
  margin-bottom: 1rem;
}

.slideshowSection {
  margin-top: 1.5rem;
}

.targetMeta {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.activeText {
  color: $support-success-main;
  font-weight: 600;
}

.warningText {
  color: $support-warning-main;
  font-weight: 600;
}

.activeOption {
  border-color: $support-success-main !important;
}

.incompatibleOption {
  border-color: $support-warning-main !important;
}

.deviceIcon {
  width: 2rem;
  height: 2rem;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  width: 100%;

  @include breakpoint-down("md") {
    flex-direction: column-reverse;
  }
}

.nextSyncCallout {
  margin-bottom: 2em;
}

.integrationSendModal {
  :global(.wfp--modal-content) {
    @include breakpoint-up(md) {
      max-width: 500px;
    }
  }
}
