@use "scss/meta" as *;

.usageKind {
  width: 100%;
  :global(.wfp--input-group-inside) {
    width: 100%;
    flex-wrap: nowrap;
    align-content: stretch;
  }
}

.usageEntry {
  //flex-grow: 1;
  width: 50%;
  > label {
    padding: 0.9em 0 !important;
    font-size: 1.1em;
  }
}

.loginContent {
  position: absolute;
  left: 0%;
  height: 100%;
  display: block;
  width: 100%;

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include breakpoint-down(md) {
      transform: rotate(4deg) scale(1.3);
    }
  }
}

.professionalWrapper {
  //max-height: 100px;
  //overflow: hidden;
  //min-height: 70px;
  margin-top: -1em;
  //margin: 0 -0.1em;
  //padding: 0 0.1em;
  transition: all 0.4s;
  margin-bottom: 1.3em !important;
}

.professionalWrapperActive {
  //max-height: 100px;
}

.privateText {
  line-height: 1.3em;
  margin-top: 2em;
}

.setupText {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.5em 0 1.3em;
}
