@use "scss/meta" as *;

.integrationItem {
  position: relative;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.9rem 1rem;
  text-decoration: none;

  border-bottom: 1px solid $border-subtle;
  &:last-child {
    border-bottom: none;
  }
  color: $text-body-default;

  cursor: pointer;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  @include darkmode {
    border-color: rgba(255, 255, 255, 0.18);
  }

  &:hover {
    //border-color: $interactive;
    // box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  }
}

.integrationItemSelected {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
}

/*
.integrationItemHighlight {
  background: linear-gradient(
    120deg,
    rgba(0, 122, 255, 0.08),
    rgba(0, 122, 255, 0.02)
  );
  border-color: rgba(0, 122, 255, 0.35);

  @include darkmode {
    background: linear-gradient(
      120deg,
      rgba(0, 122, 255, 0.18),
      rgba(0, 122, 255, 0.05)
    );
    border-color: rgba(130, 170, 255, 0.45);
  }
}
*/

.chevron {
  margin-left: 0.4em;
  font-size: 0.7em;
  margin-top: -0.3em;
  position: relative;
  top: -0.12em;
}

.beta {
  margin-left: 0.5em !important;
  margin-bottom: -1em;
}

.integrationRadio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.integrationIcon {
  width: 4rem;
  height: 4rem;
  margin: -0.3em;
  margin-left: -0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  //background: rgba(0, 0, 0, 0.03);
  flex-shrink: 0;

  /* @include darkmode {
    background: rgba(255, 255, 255, 0.04);
  } */
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.integrationContent {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.integrationHeader {
  /* display: flex;
  align-items: center;
  gap: 0.5rem; */
}

.integrationName {
  font-weight: 600;
}

.integrationDescription {
  margin: 0;
  color: $text-body-secondary;
  opacity: 0.8;
  line-height: 1.5;
  font-size: 0.85em;
  text-wrap: pretty;

  @include darkmode {
    color: rgba(255, 255, 255, 0.76);
  }
}

.integrationItemHighlight {
  //background: $layer-primary;
  //background: $interactive;
  position: relative;

  z-index: 1;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease;
    background: linear-gradient(
      120deg,
      rgba(0, 122, 255, 0.3),
      rgba(0, 122, 255, 0.15)
    );
    @include theme(dark) {
      background: linear-gradient(
        120deg,
        rgba(0, 122, 255, 0.5),
        rgba(0, 122, 255, 0.35)
      );
    }
    pointer-events: none;
    z-index: -1;
  }
  &:hover {
    &:after {
      opacity: 0.9;
    }
  }
  transition: all 0.2s ease;
  border: none !important;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  //flex: 1;
  padding: 1.3em 1em;
  // padding-left: 0;
  // padding-right: 0;
  .beta {
    display: none;
  }
  .integrationIcon {
    width: 5rem;
    height: 5rem;
  }
  .integrationDescription {
    font-size: 0.8em;
    text-wrap: balance;
    max-width: 200px;
  }
}
