@use "scss/meta" as *;

.activeObject {
  display: flex;
  height: 5.5rem;
  overflow: auto;
  //width: 100%;
  align-items: center;
  //position: relative;
  //justify-content: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 70%;
    z-index: 100;
    pointer-events: none;
    background-color: $background-main;
    transition: all 0.2s ease;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1))
    );
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 70%;
    z-index: 100;
    pointer-events: none;
    background-color: $background-main;
    transition: all 0.2s ease;
    -webkit-mask-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1))
    );
  }

  &.atEnd:after {
    opacity: 0;
  }

  &.atStart:before {
    opacity: 0;
  }
}
