@use "scss/meta" as *;

.colors {
  display: flex;
  justify-content: center;
  div {
    width: 2em;
    height: 2em;
    //margin-top: 0.5em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  border: 1px solid $interactive;
  outline: 1px solid $interactive;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.2em;
    background: linear-gradient(
      30deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
  }
}
