@use "scss/meta" as *;

.editorButton {
  display: flex;
  flex-direction: column;
  text-align: center;
  :global(.wfp--btn) {
    font-size: 1.3em;
    height: 2.4em !important;
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
    flex-direction: column;
    justify-content: center;
    color: $interactive;
    @include breakpoint-up(md) {
      font-size: 1.2em;
    }

    &:focus,
    &:hover {
      outline: none;
      background-color: transparent;
    }
  }
  :global(.wfp--btn__icon) {
    margin: 0 !important;
    margin-top: 0.2em !important;
  }
  :global(.wfp--btn--animating) {
    background-color: rgba(#fff, 0.1) !important;
  }
}

.text {
  font-size: 0.4em;
  font-weight: 500;
  color: $text-body-secondary;
  text-align: center;
  margin: 0.35em -2em !important;
  margin-bottom: 0 !important;
  @include breakpoint-up(md) {
    font-size: 0.5em;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  :global(.wfp--modal-content) {
    // overflow: auto;
  }
  :global(.wfp--modal-container) {
    @include breakpoint-up(md) {
      max-width: 500px;
    }
  }
}

.slider {
  position: absolute;
  left: 0.5em;
  right: 0.5em;

  // margin-left: -25%;
  margin-top: -5.7em;
  display: flex;
  justify-content: center;
}
.sliderContent {
  background-color: $background-main;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  padding: 0.3em;
  overflow: auto;
  > * {
    flex: 0 0 auto;
  }
}
