@use "scss/meta" as *;
@use "sass:color";

$framecolor: #1b2327;

.frame {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // border: 1px solid red;
}

/*
.wrapperRefIsTallerThanWide {
  border-color: orange;
}
.portrait {
  border-color: green;
}
  */
.inner {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  // overflow: hidden;
  // border: 1px solid blue;
  .wrapperRefIsTallerThanWide & {
    width: 100%;
    height: auto;
  }
}

.first {
  $framecolor: #63717a;
  --framecolor: #{$framecolor};
  background-color: rgb(245, 245, 245);
  border: solid 20px #eee;

  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;

  border-bottom-color: color.adjust($framecolor, $lightness: -30%);
  border-left-color: color.adjust($framecolor, $lightness: -31%);
  border-right-color: color.adjust($framecolor, $lightness: -33%);
  border-top-color: color.adjust($framecolor, $lightness: -30%);

  //width: calc(100% - 2rem);
  width: 100%;
  height: 100%;
  object-fit: contain;
  //aspect-ratio: 4 / 3;

  box-shadow:
    0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(30, 32, 57, 0.15);

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  //height: 80vh;
  padding: 30px;
  position: relative;
  text-align: center;
  &:before {
    box-shadow:
      1px 1px 5px 0 rgba(0, 0, 0, 0.25) inset,
      1px 1px 75px 0 rgba(0, 0, 0, 0.15) inset,
      1px 1px 0px 0 rgb(255, 255, 255);
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
  }

  &:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    // border-radius: 2px;
    border: 1px solid rgba(230, 230, 230, 0.095);
    z-index: 10;
    pointer-events: none;

    @include theme(dark) {
      box-shadow:
        0 0 5px 0 rgba(231, 231, 231, 0.05) inset,
        //0px -50px 140px 15px rgba(255, 255, 255, 0.1),
        0 5px 10px 5px rgba(15, 16, 31, 0.2);
    }
  }
  /*   &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  } */
  @include breakpoint-up(md) {
    border-width: 20px;
  }
  .imageWrapper {
    border: solid 2px;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-right-color: #eee;
    border-top-color: #ccc;

    max-height: 100%;
    max-width: 100%;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .imageWrapper {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    }
  }
}

.corner {
  position: absolute;
  width: 28px;
  height: 28px;
  border-top: 1px solid rgba(230, 230, 230, 0.134);
  z-index: 1;
}

.cornerDecorationTopLeft {
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(225deg);
}

.cornerDecorationTopRight {
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: rotate(135deg);
}

.cornerDecorationBottomLeft {
  bottom: 0;
  left: 0;
  border-top: none;
  border-bottom: 1px solid rgba(230, 230, 230, 0.134);
  transform-origin: bottom left;
  transform: rotate(135deg);
}

.cornerDecorationBottomRight {
  bottom: 0;
  right: 0;
  border-top: none;
  border-bottom: 1px solid rgba(230, 230, 230, 0.134);
  transform-origin: bottom right;
  transform: rotate(225deg);
}

.imageWrapper {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto; /* let aspect-ratio compute the other side */
  // background: #bbb;
}

@keyframes eInkUpdate {
  0%,
  100% {
    filter: hue-rotate(0deg) invert(0%);
  }
  50% {
    filter: hue-rotate(90deg) invert(75%) contrast(175%);
  }
  70% {
    filter: hue-rotate(190deg) invert(65%);
  }
}

.animationImageProcess {
  // animation: eInkUpdate 2s infinite;
}

.noImage {
  color: rgb(215, 215, 215);
  background: rgb(36, 36, 36);
  width: 100%;

  padding-top: 60%;
  padding-bottom: 60%;
  h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 2em;
  }
  button {
    position: relative;
    z-index: 100;
  }
}

.loadingImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(215, 215, 215);
  background: rgb(36, 36, 36);
  min-height: 350px;
}

.loadingOverlay {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff !important;
  text-shadow: #000000 1px 0 10px;
  z-index: 1;

  :global(.wfp--loading__svg) {
    stroke: #fff;
  }
}

.other {
  display: flex;
  justify-content: center;

  margin: 1em;
  position: relative;
  text-align: center;
  .imageWrapper {
    width: 100%;
    filter: brightness(1.05);
    box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.3);
  }
  img {
    display: block;
    width: 100%;
  }
}

.meta {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  @include breakpoint-up(md) {
    padding-right: 0.2em;
  }
  p {
    font-size: 0.9em;
    margin-top: 0.3em;
  }
}

.metaLeft {
  display: flex;
  align-items: center;
}
.nextSync {
  font-size: 0.8em;
}

.simpleWrapper {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  .imageWrapper {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.iframePreview {
  // width: 100%;
  // height: 100%;
  border: 4px solid $border-subtle;
  border-radius: 10px;
}

.iframeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
}
/*

.iframeContainer {
  width: 320px; 
  height: 240px; 
  overflow: hidden;
  position: relative;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px; 
  height: 480px;
  transform: scale(0.5); 
  transform-origin: 0 0; 
  border: 1px solid #ccc;
  
}
*/

.iframeContainer iframe {
  transform-origin: center;
  user-select: none;
  pointer-events: none;
}

.iframePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $layer-primary;
  h3 {
    margin-bottom: 1em;
  }
}

.debugImage {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100%;
  max-width: 70vw !important;
  height: auto;
  opacity: 1;
  z-index: 1;
  opacity: 0;
  box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.3);
  &:hover {
    opacity: 1;
  }
}
