@use "scss/meta" as *;

.week-picker {
  .react-datepicker {
    border: 0;
    font-size: 1em;
    width: 100%;
    background-color: transparent; // TODO: Move to UI-Kit
  }

  .react-datepicker__current-month {
    color: $text-body-default; // TODO: Move to UI-Kit
  }

  .react-datepicker__month {
    margin-left: -0.1em;
    margin-right: -0.1em;
  }

  .react-datepicker__aria-live {
    display: none;
  }
  .react-datepicker__current-month {
    font-weight: 1rem !important;
    margin-bottom: 1em;
  }
  .react-datepicker__day,
  .react-datepicker__day-name {
    width: calc(100% / 7 - 2 * 0.166rem);
    line-height: 2.5rem;
    position: relative;
    @include breakpoint-up(lg) {
      width: 3.5rem;
      line-height: 3.5rem;
    }
  }
  .react-datepicker__day-name {
    font-weight: 500;
  }

  .react-datepicker__day--outside-month {
    opacity: 0.5;
  }
  .react-datepicker__baked {
    background: $support-error-background;
    &.react-datepicker__day--disabled {
      &:hover {
        background: $support-error-background;
      }
    }
    &:hover {
      background: $support-error-main;
    }
  }
  .react-datepicker__day--disabled {
    //color: rgba(0, 0, 0, 0.3);
    color: $text-body-secondary;
  }
}
.react-datepicker-popper[data-placement^="top"],
.react-datepicker__triangle {
  &:before {
    // &:after {
    border-top-color: transparent !important; //$background;
  }
  &:after {
    border-top-color: $background;
  }
}

.react-datepicker-popper[data-placement^="bottom"] {
  .react-datepicker__triangle {
    &:before {
      // &:after {
      border-bottom-color: transparent !important; //$background;
    }
    &:after {
      border-bottom-color: $background !important;
    }
  }
}

.react-datepicker__month-container {
  width: 100%;
}
.react-datepicker__header {
  background: none;
  border-bottom: 1px solid $layer;
}
/*.react-datepicker__day--keyboard-selected {
  color: $text-body-default;
}*/
.react-datepicker-popper {
  .react-datepicker {
    border: 0;
    font-size: 0.8em;
    width: 100%;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
  }
}

.react-datepicker__close-icon {
  margin-right: 0.2em;
  &:after {
    font-size: 1.4em;
    width: 1.3em;
    height: 1.3em;
    color: $interactive;
    background-color: $layer;
  }
}

.react-datepicker__day--today {
  position: relative;
  z-index: 1;
  color: $action-solid-text-primary-default !important;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    border-radius: 30px;
    background: #ff2c00 !important;
    z-index: -1;
  }
}

.react-datepicker__header__dropdown {
  margin-top: 1em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.react-datepicker__year-dropdown {
  z-index: 100000;
}
.react-datepicker__year-read-view--down-arrow {
  top: 2px;
}

.react-datepicker__year-option {
  font-size: 1rem;
  line-height: 25px;
}

.react-datepicker__navigation--years {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
  height: 10px;
  width: 10px;
  text-indent: -999em;
  margin: 0.5em;
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__year-option {
  &:hover {
    background: $layer;
  }
}

.react-datepicker__navigation--years.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: $interactive;
}

.react-datepicker__navigation--years.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: $interactive;
}

.react-datepicker__year-select {
  font-size: 1em;
  padding: 0.3em 0.5em;
}

.react-datepicker__tab-loop {
  flex: 0 !important;
}
