@use "scss/meta" as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

.fullscreen {
  position: fixed;
}

.overlayInner {
  background: $layer-primary !important;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  :global(.wfp--inline-loading) {
    flex-direction: column;
  }

  :global(.wfp--loading__svg) {
    transform: scale(1.8);
    stroke-width: 10;
  }
  :global(.wfp--inline-loading__text) {
    margin-top: 1em;
  }
}
