@use "scss/meta" as *;

.colorSelect {
  // background-color: $layer-primary;
  display: flex;
  cursor: pointer;
  border-radius: 7px;
  &:focus {
    outline: 3px solid red;
  }
}

.colorView {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding: 1rem;
  border-radius: 4px 0 0 4px;
  background: #fff;
  border: 2px solid $layer-primary;
  transition: border-color 0.2s;
  //border-radius: 100px;
}

.light {
  .colorView {
    border: 1px solid rgba(#000000, 0.2) !important;
  }
}

.hideHex {
  .colorView {
    border-radius: 4px;
  }
}

.colorActive {
  .colorView {
    border-color: transparent;
  }
}

.colorValue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  font-family: monospace;
  border-radius: 0 7px 7px 0;
  background: $layer-primary;
  color: $text-body-default;
  font-weight: 400;
}

.swatches {
  margin-top: 1em;
  margin-left: 1em;
  button {
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border: 0;
    border-radius: 7px;
  }
}

.colorPicker {
  height: 180px;
  width: 380px;
}
