@use "scss/meta" as *;

.newIcon {
  width: 20rem !important;
  height: auto !important;
  max-height: inherit !important;
}

.boxIcon {
  width: 7rem !important;
  height: auto !important;
  max-height: inherit !important;
}
