@use "scss/meta" as *;

.deviceIcon {
  img {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
  /*margin-left: -0.3em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  img {
    width: 1em;
  }*/
}

/*
.deviceIcon {
  margin-bottom: -0.2em;
  //width: 2rem;
  //margin-right: 1rem;


  img {
    width: 3em;
    height: auto;
  }

  */

.deviceIconImage {
  font-size: 3rem;
  height: 1em !important;
  width: 1em !important;
}
