.input {
  margin-bottom: 1em;
}

.calendars {
  margin-top: 1.5em;
}

.refreshRow {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-bottom: 0.5em;
}

.refreshError {
  color: var(--memo-color-danger, #d93025);
  font-size: 0.85em;
}

.color {
  width: 0.7em;
  height: 0.7em;
  position: relative;
  top: -0.01em;
  border-radius: 50%;
  margin-left: 0.5em;
  display: inline-block;
}

.helperText {
  display: block;
  font-size: 0.85em;
  color: var(--memo-color-text-secondary, #6f6f6f);
  margin-top: 0.25em;
}
