.input {
  margin-bottom: 1em;
}

.calendars {
  margin-top: 1.5em;
}

.color {
  width: 0.7em;
  height: 0.7em;
  position: relative;
  top: -0.01em;
  border-radius: 50%;
  margin-left: 0.5em;
  display: inline-block;
}
