@use "scss/meta" as *;

.mobileRemove {
  margin: -1em -0.6em;
  :global(.wfp--btn__icon) {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.mobileName {
  flex: 1;
  // margin-left: 0.2em;
  // margin-right: 1em;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 20%;
  right: 20%;
  //width: 80%;
  z-index: -1;
}

@include breakpoint-down(lg) {
  /* :global(.wfp--sidebar-content__container--active) {
    &:after {
      display: block;
      content: "";
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000000;
      background: rgba(#fff, 0.3);
      backdrop-filter: blur(10px) opacity(3);
      //height: 100px;
      height: $safe-area-inset-top;
    }
  }*/
}

.backButton {
  text-decoration: none;
}
