@use "scss/meta" as *;

.wrapper {
  --frame-constrain-height: 0;
  position: relative;
  margin: auto;
  width: 100%;
  padding: 1em;
  @include breakpoint-up(lg) {
    --frame-constrain-height: 1;
    height: 90vh;
    max-width: 800px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: contain;
  touch-action: pan-y;
}

.newButton {
  display: flex;
  justify-content: center;
}
